/* HomePage.css */
.home-page {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  .lavaina{
    color:white;
  }
  .divDeRegisterLogin{
    display: flex;
    flex-direction: row;
  }
  .eventosImagen{
    left: 0;
  }
  li {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
  }
  .link-button {
    text-decoration: none;
    display: inline-block;
    margin: 20px auto;
  }
  
  .link-button button {
    background-color: #5b9bd5; /* Color del botón */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
  
  .link-button button:hover {
    background-color: #4a8acb; /* Cambia el color al pasar el mouse */
  }
  
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #5b9bd5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4a8acb;
  }
  
  .carta{
    display: flex;
    align-items: center;
    width: 30%;
  }