/* Contenedor principal de la navbar */
.navbar {
  background-color: #F3C623;
  padding: 1.5vh 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  box-sizing: border-box;
  height: 70px; /* Fixed height to ensure consistency */
}

/* Contenedor interior de la navbar */
.navbar-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

/* Título */
.navbar-title {
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  white-space: nowrap;
}

/* Links */
.links {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  width: auto;
  align-items: center;
}

/* Estilo para usuarios no logueados */
.navbar-menu-item {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
  font-size: 1rem;
}

.navbar-menu-item a:hover {
  color: #10375C;
}

/* Estilo para usuarios logueados */
.navbar-logged-in {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1rem;
  height: 100%; /* Ensure full height */
}

/* Perfil */
.navbar-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%; /* Consistent height */
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Botón de logout */
.logout-button {
  background-color: #EB8317;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 0.9rem;
}

.logout-button:hover {
  background-color: #c77013;
}